body {
    background-image: url("../imagenes/Internet.jpg");
  }

  header {
    background-color: #0f3371;
    color: #fff;
    text-align: center;
    padding: 20px;
    opacity: 0.7;
}

h2 {
    margin: 0;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

ol, ul {
    color: #fff;
}